/* Regles generales */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  font-family: 'Fira Sans', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-color: #ecf0f1;
}

/* Partie Footer */
footer {
  height: 100px;
  width: 100%;
  background-color: #c8e6c9;
  text-align: center;
  padding-top: 5px;
  font-size: 1.1rem;
}

footer a {
  color: #84817a;
}

/* Partie Header */
header {
  height: 100px;
  width: 100%;
  background-color: #c8e6c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header h1 {
  margin: auto;
  color: #795548;
}

header a {
  text-decoration: none;
  margin: auto;
  color: #cd6133;
}

/* Partie main de la page d'acceuil */
#produit li {
  width: 350px;
  height: 500px;
  border: 1px solid black;
  margin: 20px auto;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
  background-color: #efebe9;
  list-style-type: none;
  text-align: center;
}

#produit img {
  width: 250px;
  height: auto;
  border: 2px solid black;
  -webkit-box-shadow: 0 0 2px;
          box-shadow: 0 0 2px;
}

#produit a {
  text-decoration: none;
  color: #FFF;
}

/* Page du produit */
.teddy {
  margin: 40px 35px;
  padding: 25px 20px;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 3px;
          box-shadow: 0 0 3px;
  background-color: #efebe9;
}

.nom_ours {
  margin-top: 5px;
  text-align: center;
}

.img_ours {
  width: 400px;
  height: auto;
  display: block;
  margin: 15px auto;
  border: 2px solid black;
  -webkit-box-shadow: 0 0 3px;
          box-shadow: 0 0 3px;
}

.descr_ours {
  text-align: justify;
}

.price {
  border: 3px solid #2ecc71;
  border-radius: 15px;
  font-size: 1.5rem;
  margin: 20px auto;
  width: 60px;
  text-align: center;
}

/* Page panier */
/* Partie tableau */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

/* Partie formulaire */
.form {
  max-width: 850px;
  width: 550px;
  height: 550px;
  margin: 30px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.form h2 {
  padding-top: 20px;
}

.form h2::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
  margin-top: 30px;
}

.field {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 8px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin: 5px auto 15px auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #FFF;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

/* Bouton page d'accueil */
.btn_lien {
  width: 50%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 15px auto 5px auto;
  background-color: #2ecc71;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_lien:hover {
  background-color: #27ae60;
}

/* Bouton ajouter au panier */
.btn_ajouter {
  width: 40%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 15px auto 5px auto;
  background-color: #2ecc71;
  cursor: pointer;
  outline: none;
  border: none;
  color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_ajouter:hover {
  background-color: #27ae60;
}

/* Bouton envoyer du formulaire */
.btn {
  width: 20%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #2ecc71;
  cursor: pointer;
  outline: none;
  border: none;
  color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: #27ae60;
}
/*# sourceMappingURL=style.css.map */