/* Page du produit */

.teddy {
    margin: 40px 35px;
    padding: 25px 20px;
    border: 1px solid black;
    box-shadow: 0 0 3px;
    background-color: #efebe9;
}

.img_ours {
    width: 400px;
    height: auto;
}
