/* Page du produit */

.teddy {
    margin: 40px 35px;
    padding: 25px 20px;
    border: 1px solid black;
    box-shadow: 0 0 3px;
    background-color: #efebe9;
}

.nom_ours {
    margin-top: 5px;
    text-align: center;
}

.img_ours {
    width: 200px;
    height: auto;
    display: block;
    margin: 15px auto;
    border: 2px solid black;
    box-shadow: 0 0 3px;
}

.descr_ours {
    text-align: justify;
}

.price {
    border: 3px solid #2ecc71;
    border-radius: 15px;
    font-size: 1.5rem;
    margin: 20px auto;
    width: 60px;
    text-align: center;
}

@media (min-width: 700px) {
    .img_ours {
        width: 400px;
    }
}

@media (min-width: 1024px) {
    .teddy {
        width: 700px;
        margin: 20px auto;
    }
}