/* Bouton page d'accueil */

.btn_lien {
    width: 50%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 15px auto 5px auto;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;   
    transition: 0.3s;
}

.btn_lien:hover {
    background-color: #27ae60;
}

/* Bouton ajouter au panier */

.btn_ajouter {
    width: 40%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 15px auto 5px auto;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.btn_ajouter:hover {
    background-color: #27ae60;
}

/* Bouton supprimer un article */ 

.btn_supp {
    width: 70%;
    padding: 11px;
    font-size: 1rem;
    margin-left: 10px;
    background-color: #e55039;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.btn_supp:hover {
    background-color: #eb2f06;
}

@media (min-width: 700px) {
    .btn_supp {
        width: 40%;
        padding: 8px;
    }
}

/* Bouton supprimer tout les articles */

.btn_alldelete {
    width: 100%;
    padding: 4px;
    background-color: #e55039;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.btn_alldelete:hover {
    background-color: #eb2f06;
}

@media (min-width: 700px) {
    .btn_alldelete {
        width: 75%;
        padding: 8px;
    }
}

/* Bouton envoyer du formulaire */ 

.btn {
    width: 40%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.btn:hover {
    background-color: #27ae60;
}

@media (min-width: 700px) {
    .btn {
        width: 20%;
    }
}