/* Partie Footer */

footer {
    height: 100px;
    width: 100%;
    background-color: #c8e6c9;
    text-align: center;
    padding-top: 5px;
    font-size: 1.1rem;
    a {
        color: #84817a;
    }
}
