/* Partie Header */

header {
    height: 100px;
    width: 100%;
    background-color: #c8e6c9;
    h1 {
        margin: 0px;
        padding-top: 25px;
        padding-left: 20px;
    }
    a {
        text-decoration: none;
    }
}

.panier i{
    position: absolute;
    right: 20px;
}