/* Partie Header */

header {
    height: 100px;
    width: 100%;
    background-color: #c8e6c9;
    display: flex;
    justify-content: space-around;
    h1 {
        margin: auto;
        color: #795548;
    }
    a {
        text-decoration: none;
        margin: auto;
        color: #cd6133;
    }
}
